<span class="relative flex h-3 w-3">
  <span
    class="absolute inline-flex h-full w-full rounded-full bg-[var(--accent3)] opacity-50"
  ></span>
  <span
    class="relative inline-flex rounded-full h-3 w-3 bg-[var(--accent)] border border-white/40"
  ></span>
</span>
